{
  "extends": [
    "4catalyzer-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
